@import '../styles/custom-media.css';

.root {
  background-color: rgb(1,54,69);
  position: relative;
  display: flex;
  justify-content: center;
}

.modal_trigger {
  apperance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  color: unset;
  width: 100%;
  box-sizing: unset;
  text-align: unset;
  font: unset;
  background-color: transparent;
  cursor: pointer;
  outline-offset: 2px;
  outline-color: var(--color-loaded-blue);
}

.image {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.name {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.7rem;
  line-height: 2.7rem;
  font-weight: 800;
  background: rgb(142,216,248);
  background: linear-gradient(0deg, rgba(1,54,69,0.9) 40%, rgba(1,54,69,0) 100%);
  padding: 2rem 0.75rem 0.6rem 0.75rem;
  word-break: break-word;
  box-sizing: border-box;
}

.modal__closed {
  opacity: 0;
}

.modal_inner {
  margin: 0 auto;
  width: 100%;
  max-width: var(--width-medium);
  box-sizing: border-box;
  background-color: var(--color-loaded-blue);
  color: var(--color-black);
  padding: 1rem;
  position: absolute;
  top: 0;

  @media (--media-min-large) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
}

.modal__open {
  opacity: 1;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow-y: scroll;
}

.modal_leftCol {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  position: relative;

  @media (--media-min-large) {
    width: 49%;
  }
}

.modal_rightCol {
  width: 100%;
  @media (--media-min-large) {
    width: 48%;
    margin-top: 2rem;
  }
}

.modal_inner button {
  position: absolute;
  top: 0;
  right: 0;
}

.modal_image_name {
  width: 100%;
  height: auto;
  position: relative;
}

.modal_image {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;

  @media (--media-min-large) {
    margin-top: 0;
    height: 22rem;
    width: auto;
    object-fit: cover;
  }
}

.modal_name {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.7rem;
  line-height: 2.7rem;
  font-weight: 800;
  word-break: break-word;
  margin: 0;
  box-sizing: border-box;

  @media (--media-min-large) {
    position: absolute;
    bottom: 0.35rem;
    color: #FFF;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    background: rgb(142,216,248);
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0) 100%);
  }
}

.modal_closeBtn {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  background-color: transparent;
  border: none;
  font-size: var(--font-small-size);
  padding: 1rem;
  cursor: pointer;
}

.some_container {
  position: relative;
  margin-top: 1rem;
}

.some_logo {
  display: inline-block;
  margin-right: 1rem;
  opacity: 0.85;
  transition: all 0.3s ease;
}

.some_logo:hover {
  opacity: 1;
}

.some_logo svg {
  width: 50px;
  height: 50px;
}
