@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  padding: 2rem 0;
  background-color: var(--color-loaded-blue);

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

.root:nth-of-type(3) {
  background-color: var(--color-loaded-pink);
}

.root:nth-of-type(4) {
  background-color: var(--color-loaded-green);
}

.article {
  width: 100%;
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1em;
}

.heading {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  color: var(--color-dark-gray);
}

.label+.heading {
  margin-top: 0.25em;
}

.artist_list {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.artist_item_wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.666rem; /* THE NUMBER OF THE BEAST */
  @media (--media-min-large) {
    width: 32%;
  }
}

.artist_item_wrapper:first-of-type {
  @media (--media-min-large) {
    width: 66%;
  }
}
